
// $body-bg: #C3C8D8;
$body-color: #333;
$primary: #BF2626;
$secondary: #8C1F1F;
$font-size-base: 1.2rem;

/* Color Theme Swatches in Hex */
// $Constant-Resurrections-1-hex: #D92344;
// $Constant-Resurrections-2-hex: #A6847C;
// $Constant-Resurrections-3-hex: #BF2626;
// $Constant-Resurrections-4-hex: #8C1F1F;
// $Constant-Resurrections-5-hex: #262626;

@import "~bootstrap/scss/bootstrap";

.article-header {
    .no-image {
        background-color: $secondary;
        min-height: calc(100vw/6);
    }
}

.article-card:hover{
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
}
